Workflows/monitoring_workflow.json
{
  "name": "monitoring_workflow",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        }
      },
      "id": "2450dab1-e922-49aa-8860-4f700cfe9f9e",
      "name": "Every 15 min",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -2780,
        -735
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.statusCode }}",
              "operation": "notEqual",
              "value2": 200
            }
          ]
        }
      },
      "id": "96e11a7f-e5cb-471d-8d76-2377c0c57a3b",
      "name": "Check if Down",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1460,
        -860
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2340,
        -735
      ],
      "id": "92bb9725-7b33-4a4a-990c-168456448aef",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { url: 'https://nytimes.com' } },\n  { json: { url: 'https://bbc.co.uk' } },\n  { json: { url: 'http://cnn.com' } },\n  { json: { url: 'https://msn.com' } },\n  { json: { url: 'https://irctc.co.in' } }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2560,
        -735
      ],
      "id": "b5298c54-cd49-45a8-9103-281ee8bbd4bb",
      "name": "Website list"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  item.json.startTime = Date.now();\n  return item;\n});\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2120,
        -810
      ],
      "id": "fcd73a99-18bc-440c-9102-ccf161f7c450",
      "name": "set start time"
    },
    {
      "parameters": {
        "jsCode": "const end = Date.now();\nconst start = $('set start time').first().json.startTime\nconst responseTime = end - start;\n\nconst timestamp = new Date().toLocaleString('en-IN', {\n  timeZone: 'Asia/Kolkata',\n  hour12: true\n});\n\nreturn [{\n  json: {\n    website:$('set start time').first().json.url ,\n    timestamp,\n    status: $json.statusCode === 200 ? 'Up' : 'Down',\n    statusCode: $json.statusCode || null,\n    responseTimeMs: responseTime,\n    errorMessage: $json.body || $json.error?.message || '',\n    errorCode: $json.code || $json.error?.code || ''\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        -800
      ],
      "id": "be6e3468-9eeb-4d9a-b4a9-f1ea609e88aa",
      "name": "Calculate Response Time and TimeStamp"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1vVAi9VAmtxbmwiG8MO-jlHuyLb5iDZWJ8uG-I_jna8c/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vVAi9VAmtxbmwiG8MO-jlHuyLb5iDZWJ8uG-I_jna8c/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Websites URLs": "={{ $json.website }}",
            "Timestamp": "={{ $json.timestamp }}",
            "Status": "={{ $json.status }}",
            "Response Time (ms)": "={{ $json.responseTimeMs }}",
            "HTTP Code": "={{ $json.statusCode }}",
            "Error Message": "={{ $json.errorMessage }}"
          },
          "matchingColumns": [
            "Websites URLs"
          ],
          "schema": [
            {
              "id": "Websites URLs",
              "displayName": "Websites URLs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Response Time (ms)",
              "displayName": "Response Time (ms)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HTTP Code",
              "displayName": "HTTP Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1460,
        -635
      ],
      "id": "5666bdab-6bd8-4fdb-bfd9-a905f13cb3f6",
      "name": "Logging in Google Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2h5uF6Rtese3UR6T",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "vishnoih25@gmail.com",
        "subject": "=🚨 Website Down Alert: {{$json.website}}",
        "message": "=Website {{$json.website}} is down as of {{$json.timestamp}}. Status Code: {{$json.statusCode}} Error: {{$json.errorMessage}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1220,
        -880
      ],
      "id": "34021421-528e-44c1-be50-96994f563708",
      "name": "Send Alerts",
      "webhookId": "5c084fa9-aff0-485f-9631-aed7335f06a8",
      "credentials": {
        "gmailOAuth2": {
          "id": "M382TmdpSkTCpvfA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "responseFormat": "string",
        "jsonParameters": true,
        "options": {
          "fullResponse": true,
          "timeout": 3000
        },
        "headerParametersJson": "{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36\"\n}\n"
      },
      "id": "8190c33e-bca1-4c63-a083-091b05ce7863",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -1900,
        -810
      ],
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Every 15 min": {
      "main": [
        [
          {
            "node": "Website list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Down": {
      "main": [
        [
          {
            "node": "Send Alerts",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "set start time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Website list": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set start time": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Response Time and TimeStamp": {
      "main": [
        [
          {
            "node": "Logging in Google Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check if Down",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logging in Google Sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Alerts": {
      "main": [
        []
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Calculate Response Time and TimeStamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a8a1d8ae-2c04-4763-9dea-b997d8095a72",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eb9c2d0131b4cb7e58927cf9b4ed9a2dca1cce14e74653527f1a1c2b69772363"
  },
  "id": "3YvBPDw7s2LRuAUK",
  "tags": []
}
